.historiek {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
}

/* #myChart {
  width: 100px;
  height: 50px;
}
#ChartOvertreding {
  width: 100px;
  height: 50px;
} */